
$placeholder-color: #fff;

.fgt-email-subscribe {

    margin-top: 2rem;

    input[type=text] { background: #514E57; border: 1px solid #514E57; color: #ffffff}
    input[type=submit] { background: #675B80; }

    ::-webkit-input-placeholder { color: $placeholder-color; }
    :-ms-input-placeholder { color: $placeholder-color; }
    ::-moz-placeholder { color: $placeholder-color; }

    //fixes alignment on inline form buttons in this case
    .inline-button-fix { padding-top: 12px; padding-bottom: 11px; }

    .mobile-email-subscribe-header { margin-top: 20px; }

}

.fgt-email-subscribe-small {

    .fgt-email-subscribe-input { padding-left: 0; }

    input[type=text] { text-align: center; }

    img { width: 70px; }
}

.fgt-email-subscribe-large {
    margin: 3rem 0;
    h3 { color: #E3E4E6; font-family: universltstd-thinultracn; font-size: 53px; font-weight: 100; letter-spacing: 4px; }
}

#email-subscribe-modal,
#email-subscribe-sign-up,
#email-subscribe-invalid { background: #333; border: 1px solid #ccc; }

.mobile-sign-up-form { display: none; }

//-------------------
// Media Queries
//-------------------
@include breakpoint(small only) {
    .fgt-email-subscribe {
        h3 { font-size: 36px; }
        .fgt-email-subscribe-content { text-align: center; }
    }

}