.fgt-events {

    input[type=text] { margin-bottom: 0; }
    .event-block {
        img { width: 100%; }

        a { color: inherit; }

        .event-time { color: #FF6464; display: block; }

    }

    .fgt-page-heading { margin-bottom:0; }


    .fgt-paginated-links {
        a { display: inline-block; margin-left: .5rem; margin-right: .5rem; }
    }

    .prev, .next { width: 0; height: 0; display: inline-block; }
    .prev { border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-right:8px solid #ccc; }
    .next { border-top: 8px solid transparent; border-bottom: 8px solid transparent; border-left: 8px solid #ccc; }
}

.search-grid {
    display: flex;
    flex-flow: row wrap;
    margin: 0 -10px;
}

.event-block {
    width: 33.33%;
    padding: 0 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;

    @include tablet {
        width: 50%;
    }

    @include mobile {
        width: 100%;
    }
}

.fgt-events .event-block .event-info-block {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: $event_info_bg;
    padding: 10px;
    width: 100%;
}

.fgt-events .event-block .event-info-block h4 {
    font-size: 18px; 
    margin: 0;
}

.fgt-events .event-block h4.title {
    color: white;
}

.event-block .event-location { 
    color: #AAACB3; 
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}

.event-block .event-location span {
    @include mobile_landscape {
        width: 100%;
    }
}

.fgt-events .featured-image { 
    display: block;
    background: lighten($event_info_bg, 15%); 
    height: 200px; 
    line-height: 200px; 
    overflow: hidden;
    background-size: cover; 
    background-position: center;
}

// --------------
// Events Search
// --------------

.events-search-button { width: 8rem; img { margin-right: .5rem; } }

.events-search-filter {
    margin-top: 30px; margin-bottom: 30px;
    .events-search-button { padding-top: 10px; padding-bottom: 9px; }

    input, select, .input-group { margin-bottom:0; }

    select, input[type=search] { height: 45px; }

    .search-button-txt {
        font-family: UniversLTStd-Cn, 'sans-serif';
        font-size: 18px;
        color: #F0F0F2;
    }

    .fgt-search-button img { padding-top: 0; padding-bottom: 0; }

    .fgt-cta-button { padding-top: 12.5px; padding-bottom: 12.5px; }

    .button:focus { background: $fgt_cta_purple; }

}

//Select field for events search, rendered by jquery ui
.ui-selectmenu-button { background: $fgt_cta_purple; border: none; color: #fff; padding: 5px 0; outline: none; }
.ui-corner-all { border-radius: 0; }

//down arrow icon
.ui-state-default .ui-icon { 
    background: url('../images/icn-carat-dwn.png');
    background-repeat: no-repeat;
}
.ui-selectmenu-button span.ui-icon { margin-top: -5px; }

$focus-color: lighten( $fgt_cta_purple, 20% );
.ui-menu-item .ui-state-focus, .ui-widget-content .ui-state-focus { background: $focus-color }

