
.fgt-social-media {

    //Heading
    h4 {}

    img { width: 40px; height: 40px; }

    .fgt-social-grid-img-margin { margin: .5rem; }
    .fgt-social-grid-margin { margin-top: 1rem; }

}

//-------------------
// Media Queries
//-------------------
@include breakpoint(small only) {
    .fgt-social-media {
        margin-top: 20px;
    }

}