/*********************
HEADER STYLES
*********************/

.top-bar input { width: 100%; }

.top-bar-wrapper { padding-top: 19.5px; padding-bottom: 19.5px; }

.header {
    ul.off-canvas-list li {
        list-style: none;
    }
}

/*********************
NAVIGATION STYLES
*********************/

.menu-text img { width: 40px; }
.top-bar-wrapper {
    background: $nav-bg-color;
}
.top-bar {
    .title-area {
        z-index: 1;
    }
    padding: 0;
}

.menu > li {
    padding: 0.5rem 0 0.5rem 0;
}

.off-canvas-list {
    ul {
        margin-left: 0;
        li {
            a {
                border-bottom: 0px;
            }
        }
        .dropdown {
            margin-left: 20px;
        }
    }
}

.menu > li > a > img { margin-right: 8px; }

.menu-text { font-size: 18px; }

.menu > li:not(.menu-text) > a { color: #BBBBBD; font-size: 16px; text-transform: uppercase; outline: none; }

//mobile menu

.off-canvas.position-right { background: $nav-bg-color; text-align: center; }
.menu > li:not(.menu-text) > a { color: #fff; }
.menu > li:not(.menu-text) > a:hover { background: lighten($nav-bg-color, 5%); }


/*************
TOP SEARCH
*************/
.fgt-search-button {
    outline: 0;
    width: 4rem;
    background: $fgt_cta_purple;
    &:hover { background: lighten($fgt_cta_purple, 5%) }
    &:focus { background: $fgt_cta_purple; }
    padding: 0;
    img { padding-top: 7px; padding-bottom: 6px; }
}

.fgt-top-search { line-height: 56px; margin-bottom: 0; }


.top-logo { margin-left: 1rem; width: 190px; margin-top: -0.2rem; }
.menu-text img { width: 190px; }



.search-form input[type=search]::-webkit-input-placeholder { color: #F0F0F2; font-size: 16px; }
.search-form input[type=search]::-moz-placeholder { color: #F0F0F2; font-size: 16px; }
.search-form input[type=search]:-ms-input-placeholder { color: #F0F0F2; font-size: 16px; }


//Leaderboard ad
.fgt-leaderboard { margin-top: 30px; }
.fgt-leaderboard-bottom-pad { margin-bottom: 30px;}
