.fgt-main-carousel {

    //Previous and next controls. CSS triangles.
    .arrow-left, .arrow-right { width: 0; height: 0; }
    .arrow-right { border-top: 15px solid transparent; border-bottom: 15px solid transparent; border-left: 15px solid #ccc; }
    .arrow-left { border-top: 15px solid transparent; border-bottom: 15px solid transparent; border-right:15px solid #ccc; }

    //Make sure image occupies full width of carousel
    .orbit-slide img { width: 100%; }

    .orbit-slide a { width: 100%; display: block; }

    .carousel-caption { 
        background: #FF6464; 
        padding: 0 10px; 
        min-height: 40px; 
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    margin-top: 30px;

}

//-------------------
// Media Queries
//-------------------
@include breakpoint(small only) {

    .fgt-main-carousel {
        .carousel-caption { font-size: 12px; }
    }

}

