.page-navigation {
    width: 100%;
}

.pagination {
    text-align: center;

    li a { color: #fff; &:hover { background: none; } }

    li.current {
        background: none;
        color: $fgt_red;
    }
}

.pagination {
    text-align: center;

    .page-numbers { 
        color: #fff; 
        display: inline-block;
        &:hover { 
            background: none; 
        } 
    }

    .current {
        background: none;
        color: $fgt_red;
    }
}
