.fgt-popular-posts .tptn_posts ul { 
    list-style: none; 
    padding: 0; 
    margin: 0; 
}

.fgt-popular-posts .tptn_posts ul li {
    background: #45434C;
    color: #BBBBBD;
    margin-bottom: .3rem;
    display: flex;
}

a.tptn_link {
    width: 20%;
}

span.tptn_after_thumb {
    width: 80%;
    padding: 10px;
}

.tptn_posts ul li .tptn_title { 
    color: #BBBBBD; 
}
