
/**********************
 RELATED POSTS STYLES
**********************/

$related_item_bg: #EEEDF1;


.fgt-related-posts {

    //Main heading
    h4 {
        border-bottom: 1px solid #E3E4E6;
        font: normal normal normal 28px/34px UniversLTStd-Cn, 'sans-serif';
        color: #514E57;

    }

    .related-main-wrapper, .related-sub-wrapper { margin-bottom:15px; }

    .related-sub-border-left { border-left: 7.5px solid #fff; }
    .related-sub-border-right { border-right: 7.5px solid #fff; }


    .main-related, .sub-related { background: $related_item_bg; border: 5px solid #fff; }

    .fgt-related-image-wrapper {
        vertical-align: middle;
        height: 95px;
        overflow: hidden;
    }

    .fgt-related-cta {
        @extend .button;
        background: $fgt_cta_pink;
        font: normal normal normal 18px UniversLTStd-Cn, 'sans-serif';
        color: #F0F0F2;
        padding-top: 13px;
        padding-bottom: 13px;
        &:hover { background: lighten($fgt_cta_pink, 5%) }
    }

    //Used to align related content vertically
    .fgt-table-display {
        //display: table;
        width: 100%;
    }

    .related-main-wrapper, .related-sub-wrapper { background: $related_item_bg; }

    .fgt-related-content-wrapper {
        width: 100%;
        //display: table-cell;
        vertical-align: middle;
        padding: .5rem;

        h5 {
            font: normal normal normal 24px/24px UniversLTStd-Cn, 'sans-serif';
            color: #514E57;
        }
        a {
            font: normal normal normal 18px/22px UniversLTStd-Cn, 'sans-serif';
            color: #514E57;
            text-transform: uppercase;

            &:hover { color: lighten(#514e57, 10%); text-decoration: underline; }
        }
    }

    .related-main {
        .fgt-related-image-wrapper, .fgt-related-content-wrapper { height: 150px; /*img {min-height: 100px; }*/ }
        .fgt-related-image-wrapper img { height: 200px; object-fit: cover; }
    }

    .related-sub {
        .fgt-related-image-wrapper, .fgt-related-content-wrapper {
            height: 80px;
            img { height: 150px; object-fit: cover; }
        }
    }

    .fgt-related-row { display: none; }

}

@include breakpoint(large up) {

    .related-left { padding-right: 7.5px; }
    .related-right { padding-left: 7.5px; }


}


//.crp_related {
//
//    .crp_title { color: #514E57; display: block; font: normal normal 24px/24px; }
//
//    h3 { border-bottom: 1px solid #ccc; text-transform: uppercase; text-align: center; }
//
//    ul {
//        list-style-type: none;
//        margin: 0;
//        padding: 0;
//
//        li {
//            background: $related_item_bg;
//            display: inline-block;
//            margin-bottom: 10px;
//            img { width: 95px; }
//
//            a:first-child {
//                background: darken($related_item_bg, 10%);
//
//                float: left; margin-right: 1rem;
//                height: 95px;
//            }
//
//            width: 50%;
//        }
//
//        li:first-child {
//            img { width: 150px; }
//            height: 150px;
//            width: 100%;
//
//            a:first-child {
//                height: 150px;
//                float: left;
//            }
//        }
//
//    }
//
//}