/*********************
SEARCH HEADER
*********************/

.search_header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 20px;
}

.search_header h4 {
    font-size: 25px;
    line-height: 25px;
    margin-bottom: 0;
}

.search_header a {
    color: $fgt_cta_pink;
}