.social_share {
    margin-bottom: 20px;
}

.jssocials-shares {
    font-size: 20px;
    @include mobile_landscape {
        font-size: 16px;
    }
}

.jssocials-share .jssocials-share-link {
    // background: $lt-coral;

    &:hover {
        // background: $md-purple-gray;
    }
}

.jssocials-share-email .jssocials-share-link {
    background: #403e43;
    transition: opacity .3s ease-in-out;

    &:hover {
       background: #403e43;
       opacity: .8; 
    }
}