
.fgt-tag-cloud {

    a {
        background: #45434C;
        color: #BBBBBD;
        display: inline-block;
        padding: 8px;
        margin: 5px 5px 5px 0;
        text-transform: uppercase;
    }

}