
/* ------------- */
/* Color Palette */
/* ------------- */

$dk-purple: #2b282f;
$dkmd-purple: #464342;
$md-purple: #3C3A40;
$mdlt-purple: #514e57;
$lt-purple: #675b7f;

$dk-coral: #aa4c4d;
$lt-coral: #ff7475;

$md-gray: #b4b9bf;
$md-purple-gray: #827f88;
$lt-gray: #e4e4e6;

$white: #ffffff;



/* ------------------ */
/* Assigned Color Key */
/* ------------------ */

/* Page and Header */
$page-bg-color: $dk-purple;
$page-main-column-bg-color: $white;
$nav-bg-color: $md-purple;

/* Search */
$search-input-bg-color: $mdlt-purple;

/* Newsfeed */
$newsfeed-bg-coroal: $lt-coral;

/* Text */
$header-text-color: $white;
$title-text-color: $dk-purple;
$subtitle-text-color: $lt-coral;
$link-color: $lt-coral;
$footer-link-color: $md-purple-gray;
$breadcrumb-text-color: $md-gray;
$caption-text-color: $md-gray;

/* Dividers */
$coral-divider-color: $dk-coral;
$purple-divider-color: $dkmd-purple;
$gray-divider: $lt-gray;

/* Item Containers */
$item-container-bg-color: $md-purple;

/* Buttons */
$cta-coral: $lt-coral;
$cta-purple: $lt-purple;

/* Tag Cloud Widget */
$tag-cloud-item-bg-color: $md-purple;

/* Category Widget */
$category-btn-bg-color: $md-purple;
$category-btn-active-bg-color: $dk-coral;