// -----------------
// Fonts
// -----------------

@font-face {
  font-family: 'universltstd-cn';
  src: url('fonts/UniversLTStd-Cn.eot?#iefix') format('embedded-opentype'),  url('fonts/UniversLTStd-Cn.otf')  format('opentype'),
	     url('fonts/UniversLTStd-Cn.woff') format('woff'), url('fonts/UniversLTStd-Cn.ttf')  format('truetype'), url('fonts/UniversLTStd-Cn.svg#UniversLTStd-Cn') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'universltstd-cn-bold';
  src: url('fonts/UniversLTStd-BoldCn.eot?#iefix') format('embedded-opentype'),  url('fonts/UniversLTStd-BoldCn.otf')  format('opentype'),
	     url('fonts/UniversLTStd-BoldCn.woff') format('woff'), url('fonts/UniversLTStd-BoldCn.ttf')  format('truetype'), url('fonts/UniversLTStd-Bold.svg#UniversLTStd-BoldCn') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: universltstd-thinultracn;
  font-weight: 100;
  src: url('fonts/universltstd-thinultracn.otf');
}



