//general
$fgt_red: rgba(255,99,99,0.60);
$fgt_med_gray: #403E44;
$fgt_lite_gray: #AAACB3;
$fgt_cta_color: #675A81;
$fgt_cta_purple: #675A81;
$fgt_cta_pink: #FF7474;

//news
$news_bg: $fgt_med_gray;
$news_header_color: #E3E4E6;
$news_text_color: #AAACB3;

//widgets
$widget_bg: #403E44;
$widget_items_margin: 0 0 .5rem 0;

//events
$event_info_bg: #403E44;
