/************************************************

Stylesheet: Main Stylesheet

*************************************************/

/*********************
GENERAL STYLES
*********************/
body { background: $body-background; }

.fgt-cta-button {

  @extend .button;
  font-family: UniversLTStd-Cn, 'sans-serif'; font-size: 18px;
  color: #F0F0F2;
  background: $fgt_cta_color;
  padding-top: 15px;
  padding-bottom: 15px;
  &:hover, &:focus { background: lighten($fgt_cta_color, 10%) }

}

//Adding this so we can use collapse with the flex grid
.row.collapse .columns, .row.collapse .column { padding: 0; }

.fgt-bottom-border { border-bottom: 5px solid $fgt_red; }
.fgt-top-border { border-top: 5px solid $fgt_red; }

.fgt-page-heading {
  border-bottom: 5px solid $fgt_red;
  border-top: 5px solid $fgt_red;
  text-align: center;
  font: normal normal 105px/120px universltstd-thinultracn, 'sans-serif';
  padding-top: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  letter-spacing: 14px;
  margin: 30px 0;
}

.fgt-fdp-hero-wrapper img { width: 100%; }
.fgt-fdp-hero-wrapper .caption { background: #FF6464; padding: .5rem; min-height: 40px; }

.fgt-divider-margin { margin-top: 1rem; }

.tags {
  a { color: $fgt_red; &:hover { color: lighten($fgt_red, 5%); } }
  img { margin-right: 5px; }
}

/* Remove excessive height from video embeds. Known bug with Foundation flex-video */
.flex-video {
  padding-bottom: 53.1%;
}


// --------------
// Buttons
// --------------
/*
UniversLTStd-Cn
size: 18px
line: 22px
#F0F0F2, 100%
*/
.fgt-cta-2 {
  @extend .button;
  background: $fgt_cta_pink;
  font: normal normal normal 18px UniversLTStd-Cn, 'sans-serif';
  color: #F0F0F2;
  &:hover { background: lighten($fgt_cta_pink, 5%) }
}

// AJAX Load More

.alm-btn-wrap {
	width: 100%;
	text-align: center;
}

button.alm-load-more-btn.more {
  @extend .button;
  background: $fgt_cta_pink;
  font: normal normal normal 18px UniversLTStd-Cn, 'sans-serif';
  color: #F0F0F2;
	&:hover { background: lighten($fgt_cta_pink, 5%) }
	&.done {
		opacity: .3;
	}
}

// ---------------
// Widget Styles
// ---------------
.fgt-widget-margin-top { margin-top: 1.5rem; }
.fgt-widget-margin-bottom { margin-bottom: 1.5rem; }

.fgt-widget-heading, .fgt-feature-heading {
	color: #fff;
	text-align: center;
  	font-family: UniversLTStd-ThinUltraCn;
  	font-size: 36px;
  	letter-spacing: 5px;

  	@extend .fgt-bottom-border;
}

.fgt-widget-heading-inverse, .fgt-feature-heading-inverse {
  color: #514E57;
  text-align: center;
  @extend .fgt-bottom-border;
}

//Add background color to centered widget if too narrow for space
.fgt-widget-wrapper {
	background: $widget_bg;
	padding: 1rem;
	margin-bottom: 1rem;
}

.ad-300x600 { width: 300px; height: 600px; }

.fgt-red { color: $fgt_red; }

.no-padding-left { padding-left: 0; }
.no-padding-right { padding-right: 0; }

/**********
Search
**********/
.search-form {

  select { background-color: $fgt_cta_purple; border-color: $fgt_cta_purple; color: #fff; }
  input[type=search] { 
		background-color: #514E57; 
		border-color: #514E57;  
		color: #BBBBBD;
	}
  input[type=submit] { background: $fgt_cta_purple; color: #fff; }

}


/*********************
ARTICLE STYLES
*********************/

.fgt-news-box, .fgt-news-box-main { background: $news_bg; margin-bottom: 1rem; }

.fgt-news-box { 
	display: flex;
}

.fgt-news-image {
	width: 20%;
	background-size: cover;
	background-position: center;
	display: block;
}

.fgt-news-content {
	width: 80%;
	padding: 20px;

	@include mobile_landscape {
		padding: 10px;
    min-height: 80px;
	}
}

.fgt-news-content h2 {
	font-size: 25px;
	
	@include mobile_landscape {
		font-size: 18px;
	}

	@include mobile {
		font-size: 16px;
	}

	a  {
		color: $white;
	}
}

.fgt-news-content p {
	color: #AAACB3;

	@include mobile_landscape {
		display: none;
	}
}
//.fgt-news-img-outer { background: lighten($news_bg, 5%) }
//.fgt-news-img-inner { line-height: 151px; }
//.fgt-news-img-inner img { line-height: 151px; }

.fgt-news-heading { 
	color: $news_header_color; 
	font-size: 24px; 
	margin-top: 1rem; 
	@include mobile_landscape {
		font-size: 18px;
	}
}
.fgt-news-text { color: $news_text_color; font-size: 16px; }

.fgt-news-box-main { padding-top: 0.9375rem; }

.fgt-news-img-sub-outer { height: 152px; }
.fgt-news-img-sub-inner { height: 152px; width: 152px; overflow: hidden; text-align: center; }

.fgt-main-column {
	background: #fff;
	color: #667180;
	padding: 1rem;
	font: normal normal 16px/21px universltstd-cn, 'sans-serif'; }

.fgt-featured-img { 
	margin-bottom: 1rem; 
	img {
		display: block;
		width: 100%;
	}
}

.article-main-content {
    background: inherit;
    padding: 0;
}

.article-header {
    h1.entry-title{ @extend .fgt-page-heading; }

}

$article-color: #514E57;

.fgt-article .article-header {
  a {
	color: $article-color;
	font-size: 36px;
	text-transform: uppercase;
	&:hover {
	  color: lighten($article-color, 10%);
	  text-decoration: underline;
	}
  }
}

.fgt-byline { color: $fgt_red; display: block; }

.related_posts_container {
	margin-top: 20px;

	h4 {
		font-size: 24px;
	}
}

/*********************
LINK STYLES
*********************/
a, a:visited {

  // Mobile tap color
  &:link {
	//Highlight links on iOS, Similar to :hover for mobile devices.
	-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
  }
}

/*********************
H1, H2, H3, H4, H5 P STYLES
*********************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {

  // Removing text decoration from all headline links
  a {
	text-decoration: none;
  }
}

h1, .h1 {

}

h2, .h2 {

}

h3, .h3 {

}

h4, .h4 {

}

h5, .h5 {

}


/*********************
POSTS & CONTENT STYLES
*********************/
#content {
  #inner-content {
	/*padding: 1rem 0rem*/;
  }
}

.single-title,
.page-title {

}

.single-title {

}

.page-title {

  // Remove Foundation vcard styling from author page titles
  .vcard {
	border: 0px;
	padding: 0px;
  }
}

.archive-title {

}

// Featured Image



// Post meta
.byline {
  color: #999;
  time {}
}

// Entry content
.entry-content {

  img {
	max-width: 100%;
	height: auto;
	margin-bottom: 20px;
  }

  .alignleft, img.alignleft {
	margin-right: 1.5em;
	display: inline;
	float: left;
  }
  .alignright, img.alignright {
	margin-left: 1.5em;
	display: inline;
	float: right;
  }
  .aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
  }

  video, object {
	max-width: 100%;
	height: auto;
  }

  pre {
	background: #eee;
	border: 1px solid #cecece;
	padding: 10px;
  }

}

.wp-caption {
	max-width: 100%;
	margin-bottom: 20px;

  // Images inside wp-caption
  img {
	max-width: 100%;
	margin-bottom: 0;
	width: 100%;
  }

  p.wp-caption-text {
		background: #eee;
    padding: 10px;
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    text-align: center;
  }
}

// Add Foundation styling to password protect button
.post-password-form input[type="submit"] {
  @include button;
}

/*********************
BLOCKQUOTE
*********************/

blockquote, blockquote p {
	color: #667180;
}

blockquote {
	border-left: 3px solid $lt-coral;
}

/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {

  dl {

	a {}

	img {}

  }

  dt {}

  dd {}

}

// Gallery caption styles
.gallery-caption {}
.size-full {}
.size-large {}
.size-medium {}
.size-thumbnail {}

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
  margin-top: 1rem;
}

/*********************
COMMENT STYLES
*********************/
#comments {
  .commentlist {
	margin-left: 0px;
  }
}

#respond {
  ul {
	margin-left: 0px;
  }
}

.commentlist {
  li {
	position: relative;
	clear: both;
	overflow: hidden;
	list-style-type: none;
	margin-bottom: 1.5em;
	padding: 0.7335em 10px;

	&:last-child {
	  margin-bottom: 0;
	}

	ul.children {
	  margin: 0;

	  li {}

	  .comment {}
	  .alt {}
	  .odd {}
	  .even {}
	  .depth-1 {}           // Change number for different depth
	  .byuser {}
	  .bypostauthor {}
	  .comment-author-admin {}

	}
  }

  li[class*=depth-] {
	margin-top: 1.1em;
  }

  li.depth-1 {
	margin-left: 0;
	margin-top: 0;
  }

  li:not(.depth-1) {
	margin-left: 10px;
	margin-top: 0;
	padding-bottom: 0;
  }

  li.depth-2 {}
  li.depth-3 {
  }
  li.depth-4 {}
  li.depth-5 {}

  // General comment classes
  .alt {}
  .odd {
  }
  .even {
  }
  .parent {}
  .comment {}
  .children {}
  .pingback {}
  .bypostauthor {}
  .comment-author {}
  .comment-author-admin {}
  .thread-alt {}
  .thread-odd {}
  .thread-even {}

  // vcard
  .vcard {
	margin-left: 50px;

	cite.fn {
	  font-weight: 700;
	  font-style: normal;

	  a.url {}

	}

	time {
	  float: right;

	  a {
		color: #999;
		text-decoration: none;

		&:hover {
		  text-decoration: underline;
		}

	  }

	}

	img.photo {}

	img.avatar {
	  position: absolute;
	  left: 10px;
	  padding: 2px;
	  border: 1px solid #cecece;
	  background: #fff;
	}

  } // end .commentlist .vcard


  // comment meta
  .comment-meta {

	a {}

  }

  .commentmetadata {

	a {}

  }

  // comment content
  .comment_content {

	p {
	  margin: 0.7335em 0 1.5em;
	  font-size: 1em;
	  line-height: 1.5em;
	}

  } // end .commentlist .comment_content

  // comment reply link
  .comment-reply-link {
	float: right;

	&:hover,
	&:focus {

	}

  } // end .commentlist .comment-reply-link

} // end .commentlist

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em;

  form {
	margin: 0.75em 0;

	li {
	  list-style-type: none;
	  clear: both;
	  margin-bottom: 0.7335em;

	  label,
	  small {
		display: none;
	  }
	}

	input[type=text],
	input[type=email],
	input[type=url],
	textarea {
	  padding: 3px 6px;
	  background: #efefef;
	  border: 2px solid #cecece;
	  line-height: 1.5em;

	  &:focus {
		background: #fff;
	  }

	  // form validation
	  &:invalid {
		outline: none;
		border-color: #fbc2c4;
		background-color: #f6e7eb;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		-ms-box-shadow: none;
		box-shadow: none;
	  }
	}

	input[type=text],
	input[type=email],
	input[type=url] {
	  max-width: 400px;
	  min-width: 250px;
	}

	textarea {
	  resize: none;
	  width: 97.3%;
	  height: 150px;
	}

  }
}

// comment submit button
#submit {}

// comment form title
#comment-form-title {
  margin: 0 0 1.1em;
}

// cancel comment reply link
#cancel-comment-reply {
  a {}
}

// logged in comments
.comments-logged-in-as {}

// allowed tags
#allowed_tags {
  margin: 1.5em 10px 0.7335em 0;
}

// No comments
.nocomments {
  margin: 0 20px 1.1em;
}

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
}

#searchsubmit {
}

.widgettitle {
}

.widget {
  ul {
	margin: 0;

	li {
	  list-style: none;

	  &:first-child {}

	  &:last-child {}

	  a {}

	  // deep nesting
	  ul {}

	}
  }
}
/*********************
FOOTER STYLES
*********************/
.footer {

  .footer-divider {
	border-top: 3px solid #514E57;
	padding-top: 1rem;
  }


  clear: both;
  margin-top: 30px;
  margin-bottom: 3em;


  h5 { font-weight: bold; font-size: 12.8px; }

  .fgt-menu-list {

	a { color: #fff; }

	li a { color: #878787; font-size: 12.8px; }

	margin: 0;
	list-style-type: none;
  }

  .footer-copyright {

	span {
	  color: #878787;
	  display: block;
	  font-size: 12.8px;
	  line-height: 20px;
	}

  }

  .fgt-social-media {
	img { margin-top: 0 !important; }
  }

  .lg-copyright {
    span {
      margin-left: 65px;
    }
  }

}

/*********************
FOOTER MEDIA QUERIES
*********************/
@include breakpoint(small only) {
  .footer {
	.columns {
	  text-align: center;
	}

	h5 { margin-bottom: 0; margin-top: 1rem; }

	.mobile-footer-brand { margin-bottom: 20px; }
  }
}

@include breakpoint(medium large xlarge) {

  .footer {
	//.columns:first-child { padding-right: 0; }

	//.columns:last-child { padding-left: 0; }
  }

}

/*********************
FOUNDATION STYLES
*********************/

/*********************
PLUGIN STYLES
*********************/
// Makes Gravity Forms play nice with Foundation Form styles
.gform_body ul {
  list-style: none outside none;
  margin: 0;
}

//-------------------
// Media Queries
//-------------------
@include breakpoint(small only) {


  .fgt-news-img-sub-inner {
	width: 95px;
	height: 95px;
  }

  .fgt-page-heading {
    font-size: 48px;
    letter-spacing: 4px;
    line-height: 80px;
    padding-top: 10px;
  }

}

@include breakpoint(xlarge xxlarge) {


  .fgt-news-box .fgt-news-heading { margin-left: -20px; }
  .fgt-news-box .fgt-news-text { margin-left: -20px; }

}

