

/* ================ Project font/s ================ */

$condensed, $light-condensed, $light-ultra-condensed, $thin-ultra-condensed, $bold-condensed


/* ============Font sizes and weights ============ */


/* -------- Basic font family declarations -------- */

/* These declarations are meant to be consumed by other declarations, but are 
 * available to be used individually, if needed
 */

@mixin condensed {
	font-family: $condensed;
}

@mixin light-condensed {
	font-family: $light-condensed;
}

@mixin light-ultra-condensed {
	font-family: $light-ultra-condensed;
}

@mixin thin-ultra-condensed {
	font-family: $thin-ultra-condensed;
}

@mixin bold-condensed {
	font-family: $bold-condensed;
}



/* ---- Header ---- */
.typography-header-link {
	@include condensed;
	font-size: 16px;
	line-height: 19px;
}

/* ---- Search Input ---- */
.typography-search-prompt-small {
	@include light-condensed;
	font-size: 16px;
	line-height: 19px;
}

.typography-search-prompt-large {
	@include condensed;
	font-size: 18px;
	line-height: 22px;
}

/* ---- Carousel Newsfeed ---- */
.typography-newsfeed {
	@include light-condensed;
	font-size: 21px;
	line-height: 25px;
}

/* ---- Page Header ---- */
.typography-page-level-header {
	@include thin-ultra-condensed;
	font-size: 105px;
	line-height: 126px;
}

/* ---- Main & Secondary Festival Item ---- */
.typography-main-festival-item-header {
	@include condensed;
	font-size: 36px;
	line-height: 36px;
}

.typography-main-festival-item-subheader {
	@include condensed;
	font-size: 18px;
	line-height: 18px;
}

.typography-main-festival-item-subheader2 {
	@include condensed;
	font-size: 16px;
	line-height: 20px;
}

.typography-main-festival-item-header2 {
	@include condensed;
	font-size: 28px;
	line-height: 34px;
}

.typography-main-festival-item-body {
	@include condensed;
	font-size: 16px;
	line-height: 20px;
}

.typography-secondary-festival-item-header {
	@include condensed;
	font-size: 24px;
	line-height: 24px;
}

.typography-secondary-festival-item-body {
	@include condensed;
	font-size: 16px;
	line-height: 18px;
}

.typography-tertiary-festival-item-header {
	@include condensed;
	font-size: 18px;
	line-height: 22px;
}

/* ---- Buttons ---- */
.typography-btn {
	@include condensed;
	font-size: 18px;
	line-height: 22px;
}

/* ---- Event Section Dropdown ---- */
.typography-dropdown {
	@include condensed;
	font-size: 18px;
	line-height: 22px;
}

/* ---- Event Item ---- */
.typography-event-item-header {
	@include condensed;
	font-size: 18px;
	line-height: 22px;
}

.typography-event-item-date-location {
	@include condensed;
	font-size: 16px;
	line-height: 18px;
}

/* ---- Homepage Newsletter Signup Header ---- */
.typography-homepage-signup-header {
	@include thin-ultra-condensed;
	font-size: 53.1px;
	line-height: 64px;
}

/* ---- Footer ----*/
.typography-logo-caption {
	@include condensed;
	font-size: 12.8px;
	line-height: 20px;
}

.typography-footer-header {
	@include bold-condensed;
	font-style: 12.8px;
	line-height: 20px;
}

.typography-footer-link {
	@include condensed;
	font-style: 12.8px;
	line-height: 20px;
}

/* ---- Sidebar ---- */
.typography-sidebar-header {
	@include thin-ultra-condensed;
	font-size: 36px;
	line-height: 43px;
}

.typography-sidebar-category-post-total {
	@include condensed;
	font-size: 16px;
	line-height: 18px;
}

.typography-sidebar-most-popular-header {
	@include condensed;
	font-size: 16px;
	line-height: 18px;
}

.typography-sidebar-tagcloud-item {
	@include condensed;
	font-size: 16px;
	line-height: 18px;
}

/* ---- Breadcrumbs ---- */
.typography-breadcrumbs {
	@include condensed;
	font-size: 16px;
	line-height: 18px;
}

/* ---- Pagination ---- */
.typography-pagination {
	@include light-condendsed;
	font-size: 20px;
	line-height: 24px;
}

/* ---- Results Page ---- */
.typography-search-results {
	@include light-ultra-condensed;
	font-size: 48px;
	line-height: 58px;
}

.typography-sort-by {
	@include light-condensed;
	font-size: 18px;
	line-height: 22px;
}
